spring:
    datasource:
        url: ${SPRING_DATASOURCE_URL}
        username: ${SPRING_DATASOURCE_USERNAME}
        password: ${SPRING_DATASOURCE_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate.format_sql: true

    flyway:
        enabled: true
        locations: classpath:db/migration

server:
    port: 8080

springdoc:
    swagger-ui:
        path: /swagger-ui.html
    api-docs:
        path: /api-docs
